form {
    border-style: double;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: white;
    
}

img{
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    height: 300px;
}
p {
    text-align: center;
  }
h5 {
  text-align: center;
}

 .card {
    border-radius: 5px;
    padding: 20px;
   margin: 20px;
   width: 800px;
   height: 260px;
   float: right;
    
  }
