form {
    border-style: double;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: white;
    
}

img{
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    height: 300px;
}


