<div class="row p-3">
    <table mdbTable #tableEl="mdbTable" borderless="true" small="true" stickyHeader="true" hover="true"
        class="z-depth-1">
        <tbody mdbTableCol *ngFor="let game of (gameArray)">
            <tr (click)='selectGame(game.id)'>
                <td class="px-4">
                    <mdb-card>
                        <div class="row">
                            <div class="col-sm-4 d-flex justify-content-center">
                                <!--Card image-->
                                <img src="{{game.cover.url}}" alt="thumbnail" class="img-thumbnail mx-auto my-auto"
                                    style="width: 200px">
                            </div>
                            <div class="col-sm-8">
                                <!--Card content-->
                                <mdb-card-body>

                                    <!--Title-->
                                    <mdb-card-title>
                                        <h4 class="border-dark border-bottom"><strong>{{game.name}}</strong></h4>
                                    </mdb-card-title>

                                    <!--Text-->
                                    <div class="row">
                                        <div class="col-md-12 mb-4">
                                            <div class="example-1 scrollbar-ripe-malinka square thin">
                                                {{game.summary}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--Themes-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mdb-badge *ngFor="let theme of (game.themes)" class="m-1" pill="true"
                                                danger="true">{{theme.name}}
                                            </mdb-badge>
                                        </div>
                                    </div>
                                    <!--Game Modes-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <mdb-badge *ngFor="let gameMode of (game.game_modes)" class="m-1" pill="true"
                                                success="true">{{gameMode.name}}
                                            </mdb-badge>
                                        </div>
                                    </div>
                                </mdb-card-body>
                            </div>
                        </div>
                    </mdb-card>
                </td>
            </tr>
        </tbody>
    </table>
</div>