<mdb-card class="m-4">
    <!--Card content-->
    <mdb-card-body>
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" alt="Responsive image" src="https://via.placeholder.com/250">
            </div>
            <div class="col-md-7">
                <!--Title-->
                <mdb-card-title>
                    <h4 class="border-bottom border-primary text-center"><strong>{{user.firstName}} {{user.lastName}}</strong></h4>
                </mdb-card-title>
            </div>
        </div>
    </mdb-card-body>
</mdb-card>