<div class="container">
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">

        <mdb-slide *ngFor="let game of gameArray">
            <div class="view">
                <img class="d-block w-100 popular-img" src="{{ game.cover.url.replace('thumb', 'screenshot_med_2x') }}" alt="{{ game.name }}">

                <a routerLink = "/games/{{game.name}}" class="mask rgba-black-light waves-light" mdbWavesEffect></a>
            </div>
            
            <div class="carousel-caption">
                <h3 class="h3-responsive game-name"> {{ game.name }} </h3>
                <p class='game-summary'> {{ game.summary }} </p>
            </div>
        </mdb-slide>
        
    </mdb-carousel>
</div>