<h1 class='text-white'> games </h1>
<!-- <h1> {{ game.title }} </h1>

<div ngFor="let review of reviews">
    <a routerLink="/reviews/{{ review.url }}">{{ review.title }}</a>
</div> -->

<!-- Jumbotron -->
<div class="jumbotron text-center container">

        <!-- Title -->
        <h4 class="card-title h4 pb-2"><strong>Game.name</strong></h4>
      
        <!-- Card image -->
        <div class="view overlay my-4">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <h5 class="indigo-text h5 mb-4">Game.release_date</h5>
      
        <p class="card-text">Game.summary</p>
      
      </div>
    <!-- Jumbotron -->